//colors

$color-darckgray: #6F6F6F;
$color-maingreen: #178A00;
$color-mainorange: #F76201;
$color-orange-gradient: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
$color-text: #333333;
$color-lightgray:  #F4F4F4;
$color-border-gray: #B6B6B6;
$color-white: #ffffff;
$color-middle-gray: #999999;