.header {
  @include breakpoint(medium) {
    padding-bottom: 25px;
  }
  position: relative;
  padding-bottom: 66px;

  &__panel {
    @include xy-grid-container();

    @include breakpoint(large) {
      display: block;
    }

    display: none;
    padding-bottom: 10px;
  }

  &__row {
    @include xy-grid();
    @include xy-gutters($negative: true);

    justify-content: space-between;
    padding-top: 12px;
  }

  &__panel-link {
    @include xy-cell(12);

    @include breakpoint(large) {
      @include xy-cell(2);
    }

    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $color-darckgray;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: $color-mainorange;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 8px;
      background: url(../img/after.svg) 0 0 no-repeat;
      background-size: contain;
      margin-left: 5px;
    }
  }

  &__panel-close {
    @include xy-cell(1);

    display: flex;
    justify-content: flex-end;
  }

  &__panel-close-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: $color-white;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $color-darckgray;
    outline: none;
    cursor: pointer;
    line-height: 1;
    transition: 0.2s;

    &:hover {
      color: $color-mainorange;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      background: url(../img/close.svg) 0 0 no-repeat;
      background-size: contain;
      margin-left: 5px;
    }
  }

  &__box-wrapper {
    @include breakpoint(large) {
      padding: 19px;
    }

    background-color: $color-lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__box {
    @include xy-grid-container();

    @include breakpoint(medium only) {
      @include xy-grid-container($width: 640px);
    }
  }

  &__box-row {
    @include xy-grid();
    @include xy-gutters($negative: true);

    align-items: center;
  }

  &__left-box {
    @include xy-cell(4);
    @include breakpoint(large) {
      display: flex;
    }

    display: none;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }


  &__left-box-link {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $color-darckgray;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: $color-mainorange;
    }
  }

  &__left-box-link--about {
    &:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 8px;
      background: url(../img/after.svg) 0 0 no-repeat;
      background-size: contain;
      margin-left: 5px;
      transform: rotate(90deg);
    }
  }

  &__left-box-link--tech-support {
    color: $color-maingreen;
  }

  &__right-box {
    @include xy-cell(4 of 6);

    @include breakpoint(large) {
      @include xy-cell(7);
      @include xy-cell-offset(1);
    }
    @include breakpoint(medium) {
      @include xy-cell(3 of 8);

      justify-content: flex-start;
    }

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__download-link {
    @include breakpoint(large) {
      display: flex;
    }

    display: none;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $color-darckgray;
    text-decoration: none;
    align-items: center;
    margin-left: 35px;
    transition: 0.2s;

    &:hover {
      color: $color-mainorange;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(../img/download.svg) 0 0 no-repeat;
      background-size: contain;
      margin-right: 10px;
    }
  }

  &__letter-link {
    @include breakpoint(large) {
      display: flex;
    }

    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $color-darckgray;
    text-decoration: none;
    display: none;
    align-items: center;
    margin-left: 35px;
    transition: 0.2s;

    &:hover {
      color: $color-mainorange;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 12px;
      background: url(../img/letter.svg) 0 0 no-repeat;
      background-size: contain;
      margin-right: 10px;
    }
  }

  &__search {
    @include breakpoint(large) {
      margin-left: 35px;
    }

    @include breakpoint(medium only) {
      width: 100%;
    }

    max-width: 100%;
  }

  &__info-box {
    @include breakpoint(medium) {
      @include xy-cell(3 of 8);
      @include xy-cell-offset(2 of 8);
    }

    @include breakpoint(large) {
      display: none;
    }

    @include xy-cell(2 of 6);

    display: flex;
    justify-content: flex-end;
  }

  &__contact-tel {
    @include breakpoint(medium) {
      display: block;
    }

    @include breakpoint(large) {
      display: none;
    }

    display: none;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $color-darckgray;
    text-decoration: none;
  }

  &__contact-phone {
    @include breakpoint(medium) {
      display: none;
    }
  }

  &__btn {
    @include breakpoint(large) {
      display: none;
    }


    display: block;
    border: none;
    margin-left: 20px;
    padding: 0;
    background-color: transparent;
    outline: none;
  }

  &__language-link {
    @include breakpoint(large) {
      display: flex;
    }

    display: none;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    color: $color-mainorange;
    margin-left: 35px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: $color-mainodarkrange;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 4px;
      background: url(../img/rus-link.svg) 0 0 no-repeat;
      background-size: contain;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__search-form-label {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid $color-border-gray;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-radius: 45px;
    background-color: $color-lightgray;


    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../img/search.svg) 0 0 no-repeat;
      background-size: contain;
      margin-left: auto;
      margin-right: 14px;
    }
  }

  &__search-form-input {
    @include breakpoint(large) {
      font-size: 14px;
    }

    @include breakpoint(medium) {
      font-size: 10px;
    }

    max-width: 100%;
    border: none;
    padding: 7px 0 7px 17px;
    outline: none;
    background-color: $color-lightgray;
    font-size: 12px;
  }

  &__bottom-box {
    @include xy-grid-container();

    @include breakpoint(medium only) {
      @include xy-grid-container($width: 640px);
    }
  }

  &__bottom-box-row {
    @include xy-grid();
    @include xy-gutters($negative: true);

    @include breakpoint(large) {
      align-items: baseline;
    }

    display: flex;
    align-items: center;
    margin-top: 18px;
  }

  &__logo {
    @include xy-cell(2 of 6);

    @include breakpoint(large) {
      @include xy-cell(1);
    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 8);
    }
  }

  &__menu {
    @include breakpoint(large) {
      @include xy-cell(6);

      width: 540px;
    }

    width: 0;
  }

  &__bottom-box-right {
    @include xy-cell(4 of 6);

    @include breakpoint(large) {
      @include xy-cell(5);
    }

    @include breakpoint(medium) {
      @include xy-cell(3 of 8);
      @include xy-cell-offset(4 of 8);
    }


    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__phone {
    @include breakpoint(large) {
      display: block;
    }

    display: none;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $color-darckgray;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: $color-mainorange;
    }
  }

  &__log-in-link {
    @include breakpoint(large) {
      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/log-in.svg) 0 0 no-repeat;
        background-size: contain;
        margin-right: 10px;
      }
    }

    @include breakpoint(medium) {
      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/log-in.svg) 0 0 no-repeat;
        background-size: contain;
        margin-right: 10px;
      }
    }

    display: flex;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    margin-left: 35px;
    color: $color-mainorange;
    transition: 0.2s;

    &:hover {
      color: $color-mainodarkrange;
    }
  }

  &__registration-btn {
    @include breakpoint(large) {
      margin-left: 35px;
      padding: 15px 44px;
    }

    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: $color-white;
    padding: 15px 30px;
    background: $color-orange-gradient;
    text-align: center;
    border-radius: 45px;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 3px 7px $color-mainorange;
    }
  }
}
