.about {
  @include xy-grid-container();

  @include breakpoint(medium only) {
    @include xy-grid-container($width: 640px);
  }

  &__title {
    @include breakpoint(large) {
      font-size: 32px;
      padding-bottom: 5px;
    }

    @include breakpoint(medium) {
      padding-bottom: 25px;
    }

    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    color: $color-text;
    font-size: 20px;
    padding-bottom: 15px;
  }

  &__row {
    @include xy-grid();
    @include xy-gutters($negative: true);
  }

  &__advantages {
    @include breakpoint(large) {
      @include xy-cell(6);

      padding-top: 60px;
    }

    @include breakpoint(medium) {
      @include xy-cell(8 of 8);

      padding-top: 30px;
    }

    @include xy-cell(6 of 6);

    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  &__advantages-row {
    @include xy-grid();
    @include xy-gutters($negative: true);
  }

  &__advantages-item {
    @include breakpoint(large) {
      @include xy-cell(3 of 6);

      padding-bottom: 65px;
    }

    @include breakpoint(medium) {
      @include xy-cell(4 of 8);

      padding-bottom: 40px;
    }

    @include breakpoint(small only) {
      @include xy-cell-offset(1 of 6);

      padding-bottom: 30px;
      text-align: center;
    }
    @include xy-cell(4 of 6);
  }

  &__img {
    @include breakpoint(large) {
      @include xy-cell(6);
    }

    @include breakpoint(medium) {
      @include xy-cell(8 of 8);
    }

    @include xy-cell(6 of 6);
    max-width: 100%;
  }

  &__advantages-item-title {
    @include breakpoint(large) {
      font-size: 32px;
    }

    @include breakpoint(medium) {
      font-size: 20px;
    }

    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    color: $color-maingreen;
  }

  &__advantages-item-text {
    @include breakpoint(large) {
      font-size: 18px;
    }
    @include breakpoint(medium) {
      font-size: 20px;
    }

    font-family: "PT Sans", sans-serif;
    color: $color-text;
    font-size: 16px;
  }

  &__link {
    @include breakpoint(large) {
      display: flex;
      margin-bottom: 0;
    }
    @include breakpoint(medium) {
      display: flex;
      margin-bottom: 20px;
    }
    display: none;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    color: $color-mainorange;
    font-weight: bold;
    font-size: 14px;

    &:after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 5px;
      background: url(../img/rus-link.svg) 0 0 no-repeat;
      transform: rotate(-90deg);
      background-size: contain;
      margin-left: 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}