.advantages {
  @include xy-grid-container();

  @include breakpoint(medium only) {
    @include xy-grid-container($width: 640px);

    padding-bottom: 65px;
  }

  @include breakpoint(large) {
    padding-bottom: 130px;
  }

  padding-bottom: 70px;


  &__row {
    @include breakpoint(large) {
      @include xy-grid();
      @include xy-gutters($negative: true);
    }
  }

  &__box {
    @include breakpoint(large) {
      @include xy-cell(6);
    }
  }

  &__box-row {
    @include breakpoint(medium down) {
      @include xy-grid();
    }

    display: flex;
    flex-direction: column;
  }

  &__title {
    @include breakpoint(large) {
      font-size: 40px;
      padding-bottom: 15px;
    }

    @include breakpoint(medium only) {
      @include xy-cell(8 of 8);

      padding-bottom: 21px;
    }

    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 32px;
    color: $color-text;
    order: 1;
  }

  &__description {
    @include breakpoint(large) {
      font-size: 16px;
      padding-bottom: 47px;
      order: 2;
      padding-top: 0;
    }

    @include breakpoint(medium only) {
      @include xy-cell(8 of 8);

      order: 2;
      padding-top: 0;
      padding-bottom: 20px;
    }

    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: $color-middle-gray;
    padding-top: 27px;
    order: 5;
  }

  &__list {
    @include breakpoint(large) {
      padding-bottom: 70px;
      order: 3;
    }
    @include breakpoint(medium only) {
      @include xy-cell(4 of 8);
    }
    list-style: none;
    padding-bottom: 11px;
    order: 2;
  }

  &__item {
    @include breakpoint(large) {
      font-size: 20px;
      padding-bottom: 6px;
    }
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $color-text;
    padding-bottom: 14px;
    display: flex;
    align-items: center;

    &:before {
      @include breakpoint(large) {
        margin-right: 25px;
      }
      content: "";
      display: inline-block;
      background-color: $color-text;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  &__links {
    display: flex;
    order: 4;
  }

  &__btn {
    @include breakpoint(large) {
      margin-right: 45px;
      margin-left: 0;
    }
    @include breakpoint(medium only) {
      margin-top: -50px;
    }

    order: 4;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: $color-white;
    padding: 15px 35px;
    background: $color-orange-gradient;
    border-radius: 45px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 3px 7px $color-mainorange;
    }
  }

  &__link {
    @include breakpoint(large) {
      display: flex;
      order: 4;
    }

    display: none;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: $color-mainorange;
    transition: 0.2s;

    &:hover {
      color: $color-mainodarkrange;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 4px;
      background: url(../img/rus-link.svg) 0 0 no-repeat;
      transform: rotate(-90deg);
      background-size: contain;
      margin-left: 5px;
    }
  }

  &__right-box {
    @include breakpoint(large) {
      @include xy-cell(6);

      display: block;
    }
    @include breakpoint(medium) {

      display: none;
    }

    display: none;
  }

  &__img {
    @include breakpoint(large) {
      display: none;
    }
    @include breakpoint(medium) {
      @include xy-cell(4 of 8);

      padding-bottom: 0;
      display: block;
      max-width: 100%;
    }
    display: block;
    order: 3;
    max-width: 100%;
    padding-bottom: 32px;
  }

  &__img-right {
    max-width: 100%;
  }
}