.menu-multilevel {
  @include breakpoint(large) {
    display: flex;
  }

  @include breakpoint(medium down) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    max-width: 320px;
    background: #ffffff;
    padding: 30px;
    transition: 0.2s;
  }

  &--opened {
    @include breakpoint(medium down) {
      left: 0;
    }
  }

  &__list {
    @include breakpoint(large) {
      display: flex;
      flex-direction: row;
    }

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
  }

  &__link {
    @include breakpoint(large) {
      font-size: 16px;
    }

    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: $color-text;

    &:hover {
      color: $color-white;
    }
  }

  &__item {
    padding: 9px 5px;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: $color-mainorange;
      transition: 0.2s;
    }

    &--level {
      &:after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 8px;
        background: url(../img/after.svg) 0 0 no-repeat;
        background-size: contain;
        transform: rotate(90deg);
        margin-left: 5px;
      }
    }
  }

  &__close-btn {
    @include breakpoint(large) {
      display: none;
    }
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    background-color: transparent;
    border: none;
    outline: none;
  }
}